


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width:  100vw;
  overflow-y: auto;
  padding: 20px 0;
  box-sizing: border-box;
}

/* Custom Scrollbar */
.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.canvas-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: fit-content;
}

.chart-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.containerComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
}